/* Header */

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 92px;
    padding-bottom: 96px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.address {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    letter-spacing: 0.01em;
    text-underline-offset: 2px;
}

.header__links-list {
    display: flex;
    align-items: center;
    list-style: circle;
    gap: 32px;
    grid-column: 1;
    padding-left: 51px;
    padding-top: 44px;
    line-height: 21.13px;
}

.header__links-list-item {
    justify-self: center;
    text-underline-offset: 2px;
}

.header__links-list-item_no-bullet {
    list-style-type: none;
    border-bottom: 0;
    letter-spacing: normal;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    justify-self: center;
    grid-column: 2;
    width: 136px;
    height: 105px;
}

.header .address {
    grid-column: 3;
    margin-top: 5px;
    margin-left: 106px;
    justify-self: center;
    text-decoration: none;
}

.letter-spacing {
    letter-spacing: normal;
}

/* Cover */

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 757px;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    line-height: 100px;
    margin: 0 50px 135px;
    padding-top: 165px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.aligned-text {
    z-index: 2;
    align-self: start;
    line-height: 115px;
}

.aligned-text_center {
    z-index: 2;
    align-self: center;
    line-height: 140px;
}

.aligned-text_right {
    z-index: 2;
    align-items: end;
    text-align: right;
}

.letter-spacing-extended {
    padding: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.cover__description-text {
    z-index: 2;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 78px;
    word-spacing: 19px;
    margin-top: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.bet-button {
    z-index: 2;
    background-color: transparent;
    margin-right: 50px;
    border: 1px solid #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 32px 11px 31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/*Lots*/

.lots {
    width: 1052px;
    margin-top: 180px;
    margin-left: 24px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    color: #000;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.lots__card-list {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 27px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    flex-grow: 1;
}

.card {
    padding: 51px 40px 48px;
    min-height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-transform: uppercase;
}

.card__text {
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.card-link {
    height: 100%;
    display: block;
    text-decoration-line: none;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

/* About */

.about {
    display: grid;
    grid-template-columns: 334px auto;
    margin-left: 24px;
    margin-top: 146px;
}

.about__logo {
    grid-column: 1;
    background-color: #000;
    border-radius: 100%;
    align-self: center;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    margin-top: 34px;
    align-self: start;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin-top: 64px;
    margin-left: 47px;
}

.about__column {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    padding-left: 25px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    text-transform: uppercase;
    margin-top: 136px;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 702px;
    margin-bottom: 25px;
}

.about__text:last-child {
    margin-bottom: 0;
}

/* Footer */

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 88px;
}

.footer__address {
    grid-column: 1;
    gap: 32px;
    margin-left: 50px;
    text-underline-offset: 2px;
}

.footer__menu {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.footer__menu-list {
    list-style-type: none;
}

.footer__menu-list-item {
    line-height: 21.13px;
    text-align: center;
    text-underline-offset: 2px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    grid-column: 3;
    display: flex;
    list-style-type: none;
    gap: 48px;
    margin-left: 77px;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}